In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
    constituency_file = "datafiles/constituency_ids.csv";
    df_constituency = pd.read_csv(constituency_file)

In [ ]:
df_constituency.head()

In [ ]:
# Create a filtered dataframe from specific columns
constituency_cols = ["CONST ID","ONS ID", "Constituency"]
df_transf_constituency= df_constituency[constituency_cols].copy()

# Rename the column headers
df_transf_constituency = df_transf_constituency.rename(columns={"CONST ID": "const_id",
                                                        "ONS ID": "ons_code",
                                                          "Constituency": "constituency_name"})

# Clean the data by dropping duplicates and setting the index
df_transf_constituency.drop_duplicates("const_id", inplace=True)
df_transf_constituency.set_index("const_id", inplace=True)

df_transf_constituency.head()

In [ ]:
connection_string = "postgres:root123@localhost:5432/ukelection_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

In [ ]:
df_transf_constituency.to_sql(name='constituencies', con=engine, if_exists='append', index=True)

In [ ]:
connection_string = "postgres:root123@localhost:5432/ukelection_db"
engine = create_engine(f'postgresql://{connection_string}')
conn = engine.connect()
conn.execute("delete from constituencies")
conn.execute("delete from parties")

conn.close()

# IMPORT UK ELECTION RESULTS

In [14]:
ukelection_file = "datafiles/ukelection_results.csv";
df_ukelection = pd.read_csv(ukelection_file)

In [19]:
pcs =  pd.DataFrame(df_ukelection.party_code.unique())

In [21]:
pcs.to_csv("datafiles/party_codes.csv")

In [ ]:
connection_string = "postgres:root123@localhost:5432/ukelection_db"
engine = create_engine(f'postgresql://{connection_string}')
conn = engine.connect()

df_constituencies = pd.read_sql_query("select * from constituencies", con=conn, index_col = "ons_code")

In [ ]:
df_constituencies.head()

In [ ]:
df_parties = pd.read_sql_query("select * from parties", con=conn, index_col = "party_code")

In [ ]:
df_parties.head()

In [ ]:
df_ukelection = df_ukelection.join(df_constituencies, on="ons_code").join(df_parties, on="party_code")

In [ ]:
df_ukelection.head()

In [ ]:
df_ukelection.index = [x for x in range(1, len(df_ukelection.values)+1)]

In [ ]:
df_ukelection.index.name = "id"

In [ ]:
df_ukelection.head()

In [ ]:
# Create a filtered dataframe from specific columns
df_ukelection_cols = ["const_id", "party_id", "votes_share", "year"]
df_transf_ukelection= df_ukelection[df_ukelection_cols].copy()



# Clean the data by dropping duplicates and setting the index
#df_transf_ukelection.drop_duplicates("id", inplace=True)
#df_transf_ukelection.set_index("id", inplace=True)

df_transf_ukelection.head(10)

In [ ]:
df_transf_ukelection.to_sql(name='election_results', con=engine, if_exists='append', index=True)

In [ ]:
conn.close()

# IMPORT BREXIT RESULTS

In [3]:
brexit_file = "datafiles/eu_2016_results.csv"
df_brexit = pd.read_csv(brexit_file)

In [4]:
df_brexit.head()

      ONS ID  Percent Pro-Brexit  Percent Anti-Brexit
0  E14000582            0.756499             0.243501
1  E14001011            0.712017             0.287983
2  E14000642            0.730440             0.269560
3  E14000933            0.729956             0.270044
4  E14000771            0.728316             0.271684

In [5]:
connection_string = "postgres:root123@localhost:5432/ukelection_db"
engine = create_engine(f'postgresql://{connection_string}')
conn = engine.connect()

df_constituencies = pd.read_sql_query("select * from constituencies", con=conn, index_col = "ons_code")

In [6]:
df_constituencies.head()

           const_id                 constituency_name
ons_code
E14000582         1               Boston and Skegness
E14001011         2                     Walsall North
E14000642         3                           Clacton
E14000933         4  South Basildon and East Thurrock
E14000771         5           Kingston upon Hull East

In [7]:
df_brexit = df_brexit.join(df_constituencies, on="ONS ID")
df_brexit["year"] = 2016

In [8]:
df_brexit.head(100)

,ONS ID,Percent Pro-Brexit,Percent Anti-Brexit,const_id,constituency_name,year
0,E14000582,0.756499,0.243501,1,Boston and Skegness,2016
1,E14001011,0.712017,0.287983,2,Walsall North,2016
2,E14000642,0.730440,0.269560,3,Clacton,2016
3,E14000933,0.729956,0.270044,4,South Basildon and East Thurrock,2016
4,E14000771,0.728316,0.271684,5,Kingston upon Hull East,2016
5,E14000622,0.726994,0.273006,6,Castle Point,2016
6,E14000973,0.721236,0.278764,7,Stoke-on-Trent North,2016
7,E14000669,0.716507,0.283493,8,Doncaster North,2016
8,E14000717,0.715049,0.284951,9,Great Yarmouth,2016
9,E14000716,0.691597,0.308403,10,Great Grimsby,2016
10,E14000671,0.698444,0.301556,11,Dudley North,2016
11,E14000974,0.711074,0.288926,12,Stoke-on-Trent South,2016
12,E14000939,0.710714,0.289286,13,South Holland and The Deepings,2016
13,E14000542,0.709850,0.290150,14,Barnsley East,2016
14,E14000810,0.708629,0.291371,15,Mansfield,2016
15,E14000535,0.704729,0.295271,16,Ashfield,2016
16,E14000672,0.697019,0.302981,17,Dudley South,2016
17,E14000577,0.703942,0.296058,18,Bolsover,2016
18,E14000657,0.703480,0.296520,19,Dagenham and Rainham,2016
19,E14001028,0.702793,0.297207,20,Wentworth and Dearne,2016
20,E14000995,0.702553,0.297447,21,Thurrock,2016
21,E14000733,0.695683,0.304317,22,Hartlepool,2016
22,E14000643,0.695038,0.304962,23,Cleethorpes,2016
23,E14000751,0.697768,0.302232,24,Hornchurch and Upminster,2016
24,E14000842,0.693543,0.306457,25,North East Cambridgeshire,2016
25,E14000900,0.674380,0.325620,26,Romford,2016
26,E14000836,0.703467,0.296533,27,"Normanton, Pontefract and Castleford",2016
27,E14000798,0.688994,0.311006,28,Louth and Horncastle,2016
28,E14000618,0.688604,0.311396,29,Cannock Chase,2016
29,E14000914,0.686755,0.313245,30,Scunthorpe,2016
...,...,...,...,...,...,...
70,E14000852,0.651826,0.348174,71,North Thanet,2016
71,E14000805,0.649101,0.350899,72,Makerfield,2016
72,E14000972,0.648466,0.351534,73,Stoke-on-Trent Central,2016
73,E14000610,0.647932,0.352068,74,Burton,2016
74,E14000576,0.647923,0.352077,75,Bognor Regis and Littlehampton,2016
75,E14000966,0.646904,0.353096,76,Staffordshire Moorlands,2016
76,E14000868,0.645060,0.354940,77,Nuneaton,2016
77,E14000961,0.640636,0.359364,78,St Austell and Newquay,2016
78,E14000659,0.639835,0.360165,79,Dartford,2016
79,E14000626,0.639054,0.360946,80,Chatham and Aylesford,2016
80,E14000866,0.632791,0.367209,81,Nottingham North,2016
81,E14000883,0.651650,0.348350,82,Portsmouth North,2016
82,E14000898,0.633762,0.366238,83,Rochester and Strood,2016
83,E14000976,0.647422,0.352578,84,Stourbridge,2016
84,E14000683,0.636622,0.363378,85,East Yorkshire,2016
85,E14000924,0.636577,0.363423,86,Sherwood,2016
86,E14000711,0.642482,0.357518,87,Gillingham and Rainham,2016
87,E14000588,0.635601,0.364399,88,Bradford South,2016
88,E14001022,0.634142,0.365858,89,Waveney,2016
89,E14000785,0.632878,0.367122,90,Leigh,2016
90,E14001034,0.632487,0.367513,91,West Suffolk,2016
91,E14000695,0.632238,0.367762,92,Erewash,2016
92,E14000875,0.631543,0.368457,93,Pendle,2016
93,E14001058,0.631455,0.368545,94,Wyre Forest,2016
94,E14000579,0.630277,0.369723,95,Bolton South East,2016
95,E14001025,0.630197,0.369803,96,Wellingborough,2016
96,E14000670,0.630096,0.369904,97,Dover,2016
97,E14000561,0.584801,0.415199,98,"Birmingham, Erdington",2016
98,E14001039,0.629589,0.370411,99,Wigan,2016
99,E14001009,0.625570,0.374430,100,Wakefield,2016

In [9]:
df_brexit.index = [x for x in range(1, len(df_brexit.values)+1)]
df_brexit.index.name = "id"
df_brexit.head()

,ONS ID,Percent Pro-Brexit,Percent Anti-Brexit,const_id,constituency_name,year
id,,,,,,
1,E14000582,0.756499,0.243501,1,Boston and Skegness,2016
2,E14001011,0.712017,0.287983,2,Walsall North,2016
3,E14000642,0.730440,0.269560,3,Clacton,2016
4,E14000933,0.729956,0.270044,4,South Basildon and East Thurrock,2016
5,E14000771,0.728316,0.271684,5,Kingston upon Hull East,2016

In [10]:
# Create a filtered dataframe from specific columns
df_brexit_cols = ["const_id", "Percent Pro-Brexit", "Percent Anti-Brexit", "year"]
df_transf_brexit= df_brexit[df_brexit_cols].copy()

# Rename the column headers
df_transf_brexit = df_transf_brexit.rename(columns={"Percent Pro-Brexit": "probrexit_share",
                                                        "Percent Anti-Brexit": "antibrexit_share"})

# Clean the data by dropping duplicates and setting the index
#df_transf_ukelection.drop_duplicates("id", inplace=True)
#df_transf_ukelection.set_index("id", inplace=True)

df_transf_brexit.head(10)

    const_id  probrexit_share  antibrexit_share  year
id
1          1         0.756499          0.243501  2016
2          2         0.712017          0.287983  2016
3          3         0.730440          0.269560  2016
4          4         0.729956          0.270044  2016
5          5         0.728316          0.271684  2016
6          6         0.726994          0.273006  2016
7          7         0.721236          0.278764  2016
8          8         0.716507          0.283493  2016
9          9         0.715049          0.284951  2016
10        10         0.691597          0.308403  2016

In [11]:
df_transf_brexit.to_sql(name='brexit_results', con=engine, if_exists='append', index=True)

In [12]:
conn.close()