In [15]:
import pandas as pd
from sqlalchemy import create_engine

In [16]:
    constituency_file = "datafiles/constituency_ids.csv";
    df_constituency = pd.read_csv(constituency_file)

In [17]:
df_constituency.head()

   CONST ID     ONS ID                      Constituency
0         1  E14000582               Boston and Skegness
1         2  E14001011                     Walsall North
2         3  E14000642                           Clacton
3         4  E14000933  South Basildon and East Thurrock
4         5  E14000771           Kingston upon Hull East

In [27]:
# Create a filtered dataframe from specific columns
constituency_cols = ["CONST ID","ONS ID", "Constituency"]
df_transf_constituency= df_constituency[constituency_cols].copy()

# Rename the column headers
df_transf_constituency = df_transf_constituency.rename(columns={"CONST ID": "const_id",
                                                        "ONS ID": "ons_code",
                                                          "Constituency": "constituency_name"})

# Clean the data by dropping duplicates and setting the index
df_transf_constituency.drop_duplicates("const_id", inplace=True)
df_transf_constituency.set_index("const_id", inplace=True)

df_transf_constituency.head()

           ons_code                 constituency_name
const_id
1         E14000582               Boston and Skegness
2         E14001011                     Walsall North
3         E14000642                           Clacton
4         E14000933  South Basildon and East Thurrock
5         E14000771           Kingston upon Hull East

In [28]:
connection_string = "postgres:root123@localhost:5432/ukelection_db"
engine = create_engine(f'postgresql://{connection_string}')

In [24]:
# Confirm tables
engine.table_names()

['constituencies', 'election_results', 'parties']

In [29]:
df_transf_constituency.to_sql(name='constituencies', con=engine, if_exists='append', index=True)

In [30]:
connection_string = "postgres:root123@localhost:5432/ukelection_db"
engine = create_engine(f'postgresql://{connection_string}')
conn = engine.connect()
conn.execute("delete from constituencies")
conn.execute("delete from parties")

conn.close()